.place__website{
    align-self: end;
    justify-self: start;
    grid-row: 1;
    grid-column: 2;
  }
  @media screen and (max-width: 1279px){
    .place__website{
      max-width: 456px;
    }
  }
  @media screen and (max-width: 1023px){
    .place__website{
      max-width: 352px;
    }
  }
  @media screen and (max-width: 767px){
    .place__website {
      max-width: 320px;
    align-self: flex-start;
    justify-self: start;
    }
  }
  @media screen and (max-width: 320px){
    .place__website {
    width: 288px;
      margin: 0 auto;
    }
  }