.cover__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    }
    
    @media screen and (max-width: 767px) {
        .cover__title {
          max-width: 248px;
          font-size: 32px;
          line-height: 1.1;
        }
      }